<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{HTTP_HOST} ^www.psicoterapiacastellon.com$ [NC]
RewriteRule ^(.*)$ http://www.psicoterapiacastellon.es/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^psicoterapiacastellon.com$ [NC]
RewriteRule ^(.*)$ http://psicoterapiacastellon.es/$1 [R=301,L]

RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
